<div class="container-fluid text-center bg-light mb-1">
    <h1>Website Header</h1>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Trang chủ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/about">Về chúng tôi</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/contact">Liên hệ</a>
        </li>
        <% if (roleSession === 'Admin') { %>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/list-user">Danh sách tài khoản</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/list-product">Danh sách sản phẩm</a>
            </li>
        <% } %>
        
        <% if (usernameSession) { %>
            <li class="nav-item">
                <a class="nav-link d-flex align-items-center gap-2" href="/detail-user/<%= usernameSession %>">
                    <span class="fw-semibold"><%= usernameSession %></span>
                    <i class="fa-solid fa-circle-user fs-5"></i>
                </a>
            </li>
        
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/login"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
            </li>
        <% } else { %>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/login">Đăng nhập</i></a>
            </li>
        <% } %>
        </ul>
</div>