<div class="container-fluid text-center bg-light mb-1">
    <h1>Website Header</h1>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Trang chủ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/about">Về chúng tôi</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/contact">Liên hệ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/list-user">Danh sách tài khoản</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-outline-danger" aria-current="page" href="/login">Đăng xuất</a>
        </li>
    </ul>
</div>